<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ruolo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Navbar.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{Navbar/navbar :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Assegna Nuovo Ruolo</h2>
        </div>

        <hr>

        <div th:if="${successMessage}" class="alert alert-success d-flex justify-content-between mt-2 col-4 mx-auto">
            <span th:text="${successMessage}">Ruolo creato correttamente!</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger d-flex justify-content-between mt-2 col-4 mx-auto">
            <span th:text="${errorMessage}">Errore durante il salvataggio</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!-- Form nuovo Ruolo -->
        <div class="mt-3">
            <div class="card shadow-sm">
                <form method="post" th:object="${formNewRuolo}" th:action="@{/ruolo/nuovo-ruolo}">
                    <div class="card-header bg-success text-white d-flex justify-content-between">
                        <h5 class="mb-0">Crea Ruolo</h5>
                    </div>

                    <div class="row mt-3 px-3">
                        <!-- Nome Ruolo -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nome Ruolo</label>
                            <input th:field="*{nome}" class="form-control" type="text" placeholder="Nome Ruolo">
                            <strong th:if="${#fields.hasErrors('nome')}" class="text-danger" th:errors="*{nome}"></strong>
                        </div>

                        <!-- Livello Ruolo -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Livello Ruolo</label>
                            <input th:field="*{livello}" class="form-control" type="text" max="8" min="1" placeholder="5">
                            <strong th:if="${#fields.hasErrors('livello')}" class="text-danger" th:errors="*{livello}"></strong>
                        </div>
                    </div>

                    <!-- Descrizione Ruolo-->
                    <div class="row px-3">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Descrizione Ruolo</label>
                            <textarea th:field="*{descrizione}" class="form-control" rows="3"></textarea>
                            <strong th:if="${#fields.hasErrors('descrizione')}" class="text-danger" th:errors="*{descrizione}"></strong>
                        </div>
                    </div>

                    <hr>

                    <!--Associa dipendente al dipartimento-->
                    <div th:if="${dipartimenti == null or dipartimenti.isEmpty}">
                        <span class="text-danger ms-3">Nessun dipartimento inserito,
                            <a href="/dipartimento/nuovo-dipartimento" class="text-danger">inseriscila!!</a>
                        </span>
                    </div>

                    <div>
                        <i class="ms-3 text-muted">è possibilie inserire un solo utente per volta</i>
                    </div>

                    <div th:unless="${dipartimenti == null or dipartimenti.isEmpty}">
                        <div th:each="dipartimento : ${dipartimenti}">
                            <ul>
                                <li class="col-3">
                                    <span th:text="${dipartimento.dipartimento}">Produzione Sanità</span>

                                    <!--Utenti-->
                                    <div th:if="${utenti == null or utenti.isEmpty}">
                                        <span class="text-danger">Nessun Utente nella piattaforma</span>
                                    </div>

                                    <div th:unless="${utenti == null or utenti.isEmpty}">
                                        <select class="form-select form-select-sm col-5 dipartimento-select" aria-label="Small select example"
                                                th:name="${'associazioni[' + dipartimento.idDipartimento + ']'}">
                                            <option selected disabled value="">Scegli Utente da Associare</option>
                                            <option th:each="utente : ${utenti}"
                                                    th:value="${utente.idUtente}"
                                                    th:text="${utente.username}">federico.molino
                                            </option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3 me-3 text-end">
                        <button type="submit" class="btn btn-sm btn-success">Aggiungi</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!--Importo script-->
<script src ="/CreaAssegnaRuolo.js"></script>
</body>
</html>