<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Assistenza</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Navbar.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{Navbar/navbar :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Richiedi Assitenza</h5>
        </div>
    </div>
    <!--Messaggi successo ed errore-->
    <div th:if="${successMessage}" class="alert alert-success d-flex justify-content-between mt-2 col-4 mx-auto">
        <span th:text="${successMessage}">Richiesta inviata correttamente!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger d-flex justify-content-between mt-2 col-4 mx-auto">
        <span th:text="${errorMessage}">Errore durante l'invio della richiesta</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${infoMessage}" class="alert alert-warning d-flex justify-content-between mt-2 col-4 mx-auto">
        <span th:text="${infoMessage}">Richiesta inviata, mail non andata a buon fine</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container col-9">
        <div class="rounded-3 border border-success p-2 d-flex justify-content-center">
            <div class="row col-10">
                <form method="post" th:action="@{/assistenza}">
                    <!--Responsabile a cui inviare richiesta-->
                    <div class="row col-10">

                        <div class="d-flex justify-content-between">
                            <div class="col-5">
                                <label>Inserisci il Responsabile a cui mandare la richiesta
                                    <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-5">
                                <label>Inserisci Motivazione Richiesta<span class="text-danger"> *</span></label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="col-5">
                                <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="responsabile"
                                        id="selezionaResponsabile"
                                        oninput="toggleTextAreaRichiesta()">
                                    <option disabled selected value="">Seleziona Responsabile</option>
                                    <option th:each="utente : ${listUtentiAdmin}"
                                            th:value="${utente.idUtente}"
                                            th:text="${utente.username}">
                                </select>
                            </div>

                            <div class="col-5">
                                <select class="form-select form-select-sm" aria-label="Small select example"
                                        name="tipologiaRichiestaAssistenza"
                                        id="motivazioneRichiesta"
                                        oninput="toggleTextAreaRichiesta()">
                                    <option disabled selected value="">Inserisci Motivazione</option>
                                    <option th:each="tipo : ${tipologia}"
                                            th:value="${tipo}"
                                            th:text="${tipo}">RICHIESTA GENERICA</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Motivo della richiesta-->
                    <div class="row col-12 mt-5">
                        <label>Inserisci richiesta<span class="text-danger"> *</span></label>
                        <div class="row col-10">
                            <div>
                                <textarea
                                      class="form-control"
                                      placeholder="Inserisci la tua richiesta"
                                      required style="height: 130px;"
                                      name="richiesta" maxlength="255"
                                      id="textAreaRichiesta"
                                      oninput="toggleTextAreaRichiesta()"></textarea>
                                <div class="text-danger mt-2" id="errorTextAreaDiv">
                                    Devi inserire la tua richiesta
                                </div>
                                <div class="d-none text-danger mt-2" id="errorLenghtTextAreaDiv">
                                    Limite massimo di 255 caratteri raggiunto
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Inoltra richiesta-->
                    <div class="mt-3">
                        <button type="submit" class="btn btn-sm btn-outline-secondary"
                                id="buttonInoltraRichiesta"
                                disabled>Invia Richiesta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src ="/Assistenza.js"></script>
</body>
</html>