<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Leggi Richiesta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Navbar.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{Navbar/navbar :: navbar}"></div>
<div class="container">

    <!--Messaggio Errore e successo-->
    <div th:if="${errorMessage}" class="alert alert-danger d-flex justify-content-between mt-2 col-4 mx-auto">
        <span th:text="${errorMessage}">Errore durante l'invio della richiesta</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${successMessage}" class="alert alert-success d-flex justify-content-between mt-2 col-4 mx-auto">
        <span th:text="${successMessage}">Richiesta aggiunta correttamente</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="row">
        <div class="col-6">
            <h5 th:text="${assistenza.tipologiaRichiestaAssistenza} + ' di ' + ${usernameUtenteAperturaRichiesta}">
                RICHIESTA_GENERICA di federico.molino</h5>
        </div>
    </div>

    <div class="d-flex">
        <div class="col-5 mt-3">
            <div class="border rounded p-2">
                <span class="ms-3" th:text="${assistenza.richiesta}">Ciao la mia richiesta fa riferimento...</span>
            </div>

            <div th:if="${assistenza.richiestaChiusa == false}" class="mt-3 d-flex justify-content-end">
                <form method="post" th:action="@{/posta/richiesta/{idAssistenza}(idAssistenza=${assistenza.idAssistenza})}">
                    <button type="submit" class="btn btn-sm btn-success">Chiudi Richiesta</button>
                </form>
            </div>
            <div th:unless="${assistenza.richiestaChiusa == false}" class="mt-3">
                <span>La richiesta è chiusa</span>
            </div>
        </div>

        <!--Concludi richiesta-->
        <div class="ms-5">
            <form th:action="@{/posta/chiudi-richiesta}" method="post" th:object="${chiudiRichiesta}">
                <div class="border border-success p-3 rounded-2 mt-3">
                    <label>Seleziona Dipendente <span class="text-danger">*</span></label>
                    <select class="form-select form-select-sm"
                            aria-label="Small select example"
                            id="selezionaDipendente"
                            name="username">
                        <option selected disabled value="">Seleziona dipendente</option>
                        <option th:each="utente : ${utenteList}"
                                th:text="${utente.username}">
                        </option>
                    </select>

                    <label class="mt-2">Inserisci la motivazione <span class="text-danger">*</span></label>
                    <select class="form-select form-select-sm" aria-label="Small select example"
                            id="motivazioneRichiesta">
                        <option selected disabled value="">Seleziona motivazione</option>
                        <option value="MANCATA_TIMBRATURA">MANCATA TIMBRATURA</option>
                        <option value="RICHIESTA GENERICA">RICHIESTA_GENERICA</option>
                        <option value="FERIE">FERIE</option>
                    </select>

                    <!--Inserisci Presenza-->
                    <div  id="inserisciPresenza" class="d-none">
                        <div class="d-flex">
                            <div class="row mt-3">
                                <label>Data <span class="text-danger">*</span></label>
                                <input type="date" class="border rounded-2 col-8 ms-2" th:field="*{data}">
                            </div>

                            <div class="row mt-3">
                                <label>Modalità <span class="text-danger">*</span></label>
                                <select class="form-select form-select-sm" aria-label="Small select example"
                                        id="modalitaGiornataLavorativa" th:field="*{modalita}">
                                    <option selected disabled value="">Seleziona modalità</option>
                                    <option th:value="UFFICIO">UFFICIO</option>
                                    <option th:value="SMARTWORKING">SMARTWORKING</option>
                                    <option th:value="FUORISEDE">FUORI SEDE</option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label>Ora Entrata <span class="text-danger">*</span></label>
                            <div class="col-2" style="width: 87px">
                                <input type="time" class="form-control form-control-sm border rounded-5" id="oraEntrata"
                                th:field="*{oraEntrata}">
                            </div>

                            <label class="mt-2">Ora Uscita <span class="text-danger">*</span></label>
                            <div class="col-2" style="width: 87px">
                                <input type="time" class="form-control form-control-sm border rounded-5"  id="orauscita"
                                th:field="*{oraUscita}">
                            </div>
                        </div>

                        <div class="col-6">
                            <label>Stato <span class="text-danger">*</span></label>
                            <select class="form-select form-select-sm" aria-label="Small select example"
                                    id="statoGiornataLavorativa" th:field="*{stato}">
                                <option selected disabled value="">Seleziona modalità</option>
                                <option th:value="PRESENTE">PRESENTE</option>
                                <option th:value="PERMESSO">PERMESSO</option>
                            </select>
                        </div>

                        <!--Invia richiesta-->
                        <div class="mt-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-sm btn-success" id="buttonAggiungiPresenza"
                                    disabled>Aggiungi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/leggiRichiesta.js"></script>
</body>
</html>