<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Calendario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/Navbar.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{Navbar/navbar :: navbar}"></div>
<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="container mt-5">

        <div th:if="${successMessage}" class="alert alert-success d-flex justify-content-between mt-2 col-4 mx-auto">
          <span th:text="${successMessage}">Modifiche effettuate correttamente!</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger d-flex justify-content-between mt-2 col-4 mx-auto">
          <span th:text="${errorMessage}">Modifiche non effettuate</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div>
          <h2 class="mb-4 text-center">Presenze Mese Corrente</h2>
        </div>
        <!--Ricerca Per data-->
        <div class="d-flex justify-content-between">
          <div class="row col-2">
            <label class="mb-1">Ricerca per mese</label>
            <form class="d-flex" role="search" method="get" th:action="@{/presenza/calendar}">
              <input class="form-control mb-2 me-2" type="month" placeholder="Cerca per data" aria-label="Search"
                     name="ricercaData"/>
              <div class="mt-1">
                <button class="btn btn-outline-success btn-sm" type="submit">Cerca</button>
              </div>
            </form>
          </div>

          <div class="mt-5">
            <span>Ore ferire disponibili: <strong th:text="${oreFerieRimanenti}">265</strong></span>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-success">
            <tr>
              <th>Data</th>
              <th>Ora Entrata</th>
              <th>Ora Uscita</th>
              <th>Modalità</th>
              <th>Stato</th>
              <th>Modifica</th>
              <th>Completa Giornata</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="presenza : ${listaPresenze}">
              <td th:text="${presenza.data}">01/06/2025</td>
              <td th:text="${presenza.oraEntrata}">09:00</td>
              <td th:text="${presenza.oraUscita}">17:00</td>
              <td th:text="${presenza.modalita}">In sede</td>
              <td>
                <!--Trasformo in stringa in quanto viene passato un ENUM-->
                <span th:if="${presenza.stato.toString() == 'PRESENTE'}" class="badge bg-success"
                      th:text="${presenza.stato.toString()}">PRESENTE</span>
                <span th:if="${presenza.stato.toString() == 'ASSENTE'}" class="badge bg-danger"
                      th:text="${presenza.stato.toString()}"></span>
                <span th:if="${presenza.stato.toString() == 'FERIE'}" class="badge bg-info"
                      th:text="${presenza.stato.toString()}"></span>
                <span th:if="${presenza.stato.toString() == 'PERMESSO'}" class="badge bg-info"
                      th:text="${presenza.stato.toString()}"></span>
                <span th:if="${presenza.stato.toString() == 'RITARDO'}" class="badge bg-warning"
                      th:text="${presenza.stato.toString()}"></span>
              </td>
              <td>
                <a th:href="@{/presenza/calendar/{idPresenza}(idPresenza=${presenza.idPresenza})}" class="btn btn-sm btn-outline-primary">Modifica</a>
              </td>
              <td class="align-middle text-center">
                <form method="post" th:object="${formChiudiGionata}"
                      th:action="@{/presenza/calendar/chiudi-giornata/{idPresenza}(idPresenza=${presenza.idPresenza})}">
                  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox"
                             th:id="'giornataSwitch-' + ${presenza.idPresenza}"
                             role="switch"
                             th:checked="${presenza.chiudiGiornata == true}"
                             onchange="this.form.submit()">
                      <label class="form-check-label small text-muted"
                             th:for="'giornataSwitch-' + ${presenza.idPresenza}"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Attiva per chiudere la giornata lavorativa">
                        Chiudi
                      </label>
                    </div>
                    <span class="badge rounded-pill bg-secondary giornataChiusa">Giornata aperta</span>
                    <span class="badge rounded-pill bg-success giornataAperta" style="display: none;">Giornata Chiusa</span>
                  </div>
                </form>
              </td>
            </tr>

            <tr th:if="${#lists.isEmpty(listaPresenze)}">
              <td colspan="8" class="text-center text-muted">Nessuna presenza registrata per questo mese.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!--Importo script-->
<script src ="/Calendar.js"></script>
</body>
</html>